:root {
  --color-bg-body: #000; /* body background */
  --color-bg-calculator: #21232f; /* body background */
  --color-bg-board: #272a33; /* buttons board */
  --color-bg-button: #2a2d36; /* button background */
  /* --color-text: #fff; */
  --color-text: #f4f7f9;
  --color-operator1: #d4d4d2;
  --color-operator2: #f76f02;
  --color-display-bg: #1e1f17;
  --color-on: #01abf9;
}
@font-face {
  font-family: "Intro";
  src: url("fonts/intro.eot");
  src: url("fonts/intro.eot?#iefix") format("embedded-opentype"), url("fonts/intro.woff2") format("woff2"), url("fonts/intro.woff") format("woff"),
    url("fonts/intro.ttf") format("truetype");
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Intro", Fallback, sans-serif;
  font-size: 3em;
  margin: 0;
  min-height: 100vh;
  background-color: var(--color-bg-body);
  color: var(--color-text);

  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  /* background: var(--color-bg-calculator); */
  background-color: var(--color-display-bg);
  width: 400px;
  border-radius: 32px;
  /* border: 1px solid yellow; */
  overflow: hidden;
}

.calculator-display {
  /* background-color: var(--color-display-bg); */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  /* border: 1px solid yellow; */
}

.calculator-display h1,
h3 {
  font-family: "Intro", Fallback, sans-serif;
  margin: 0;
  /* border: 1px solid yellow; */
  line-height: 1;
}

.calculator-display h1 {
  font-size: 72px;
  padding: 16px 24px;
}

.calculator-display h3 {
  font-size: 32px;
  padding: 32px 24px 0 24px;
}

/* Buttons */

.calculator-bottons {
  border-radius: 32px;
  background: var(--color-bg-board);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3px;
  /* padding: 10px; */
  /* border: 1px solid green; */
  overflow: hidden;
}

.zero {
  grid-column: 1 / span 2;
}

button {
  min-height: 70px;
  font-size: 20px;
  font-family: "Intro", Fallback, sans-serif;
  border: none;
  background: var(--color-bg-button);
  color: var(--color-text);
  font-size: 32px;
  cursor: pointer;
}

button:hover {
  filter: brightness(140%);
}

button:focus {
  outline: none;
}

.operator1 {
  background: var(--color-operator1);
  color: var(--color-bg-body);
}
.operator2 {
  background: var(--color-operator2);
  font-size: 36px;
}

/* Media Query */

@media screen and (max-width: 600px) {
  .calculator {
    width: 95%;
  }
  button {
    min-height: 85px;
  }
}
